# todo-file = "$HOME/.local/share/quest/todo.txt"
# done-file = "$HOME/.local/share/quest/done.txt"

[default-view]
projection = ["line", "done" ,"priority","projects","contexts","description"]
clean = ["@ALL","+ALL"]
interactive = false
query = '!done'

[views.all]
description = "All tasks including completed"
query = ''
